@{
    ViewData["Title"] = "Home Page";
}

<h1>Eleanors Coffee Shop!</h1>
<h4>❤️ Welcome Loyal Customer :) Please browse our menu to see what you would like!❤️ </h4>


<h4>About us</h4>
<p>Pink ponies and purple giraffes roamed the field. Cotton candy grew from the ground as a chocolate river meandered off to the side. What looked like stones in the pasture were actually rock candy. Everything in her dream seemed to be perfect except for the fact that she had no mouth.Barbara had been waiting at the table for twenty minutes. it had been twenty long and excruciating minutes. David had promised that he would be on time today. He never was, but he had promised this one time. She had made him repeat the promise multiple times over the last week until she'd believed his promise. Now she was paying the price.</p>

<h4>Where we are located</h4>
<p>
    Phone number: (315) 333-1107<br />

    Street: 6193 Lillypond Way<br />

    City: Ontario<br />

    State: New York (NY)<br />

    Zipcode: 14519<br />

    Country: USA<br />

    Address: 6193 Lillypond Way, Ontario, New York 14519, USA
</p>